.dateBoxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  width: 80%;
  margin: auto;
}

.dateBox {
  border: solid 2px #fff;
  padding: 20px;
  width: 3rem;
  color: #fff;
}

.today-dateBox{
  background-color: #9b2226;
  border: solid 2px #fff;
  padding: 20px;
  width: 3rem;
  color: #fff;
}

.past-dateBox {
  border: solid 2px gray;
  padding: 20px;
  width: 3rem;
  color: gray;
}

#date {
  color: #fff;
  font-weight: 600;
}
